# Lists

In [1]:
items = ["bread", "pasta", "fruits", "veggie"]
items

['bread', 'pasta', 'fruits', 'veggie']

In [2]:
items[1]

'pasta'

In [3]:
items[0:2]

['bread', 'pasta']

In [4]:
# in order to add something to the list
items.append("butter")
items

['bread', 'pasta', 'fruits', 'veggie', 'butter']

In [5]:
# in order to remove something from the list
items.remove("butter")
items

['bread', 'pasta', 'fruits', 'veggie']

In [6]:
# in order to insert in specific location
items.insert(1, "butter")
items

['bread', 'butter', 'pasta', 'fruits', 'veggie']

In [7]:
# in order to change a value
# string values are immutable, but lists are mutable
items[0] = "chips"
items

['chips', 'butter', 'pasta', 'fruits', 'veggie']

In [8]:
# in order to replace 2 values with 1 value
items[0:2] = ["almonds"]
items

['almonds', 'pasta', 'fruits', 'veggie']

In [9]:
# in order to find a value is present on not
"rice" in items

False

In [10]:
# in order to sort a list
expenses = [200, 1500, 150, 1300]
expenses.sort()
expenses

[150, 200, 1300, 1500]

In [11]:
# reverse sort
expenses.sort(reverse=True)
expenses

[1500, 1300, 200, 150]

In [12]:
# combine multiple lists
food_items = ["bread", "pasta", "fruits"]
bathroom_items = ["shampoo", "soap"]
items = food_items + bathroom_items
items

['bread', 'pasta', 'fruits', 'shampoo', 'soap']

In [13]:
# length of items
len(items)

5

# if condition

In [14]:
n = input("Enter a number: ")

if int(n) % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number: 1
Number is odd

In [15]:
# another way to write if condition
n = input("Enter a number: ")

message = "Number is even" if int(n) % 2 == 0 else "Number is odd"
print(message)

Enter a number: 5
Number is odd

In [16]:
n = 10

# multiple condition
if n>0 and n%2 == 0:
    print("n is a positive even number")
elif n>0 and n%2 != 0:
    print("n is a positive odd number")
elif n<0:
    print("n is a negative number")

n is a positive even number

In [17]:
indian = ["'samosa", "daal", "naan"]
chinese = ["egg role", "pot sticker", "fried rice"]
italian = ["pizza", "pasta", "risotto"]

dish = input("Enter a dish name: ")

if dish in indian:
    print("Indian")
elif dish in chinese:
    print("Chinese")
elif dish in italian:
    print("Italian")
else:
    print("I don't know")

Enter a dish name: samosa
I don't know

# for loop

In [18]:
expenses = [1200,1300,1500,1700]

total_expenses = 0

for expense in expenses:
  total_expenses += expense

print(total_expenses)

5700

In [19]:
# zip
a = [1,2,3]
b = ['a','b','c']

for x,y in zip(a,b):
  print(x,y)

1 a
2 b
3 c

In [20]:
monthly_sales = [42, 38, 33, 38, 40, 45]
month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
threshold = 35

for sales_amount, month in zip(monthly_sales, month):
  if sales_amount < threshold:
    print(f"Sales amount {sales_amount} is less than threshold in {month}")
    break # in order to stop the loop when less valued threshold found
  else:
    print(f"Sales amount {sales_amount} is greater than threshold in {month}")

Sales amount 42 is greater than threshold in Jan
Sales amount 38 is greater than threshold in Feb
Sales amount 33 is less than threshold in Mar

In [21]:
# while loop
n = 0
while n<10:
  print(n)
  n+=1

0
1
2
3
4
5
6
7
8
9

In [22]:
# continue
# Printing all numbers from 1 to 10, except 5
for i in range(1, 11):
    if i == 5:
        continue  # Skipping when i is 5
    print(i)

1
2
3
4
6
7
8
9
10

In [23]:
products = ["iPhone", "iPad", "Macbook"]
regions = ["USA", "India", "UK"]
revenue = [10000, 20000, 30000, 40000, 50000, 34000]

for product in products:
  for region in regions:
    for sales in revenue:
      print(f"Product: {product}, Region: {region}, Revenue: {sales}")

Product: iPhone, Region: USA, Revenue: 10000
Product: iPhone, Region: USA, Revenue: 20000
Product: iPhone, Region: USA, Revenue: 30000
Product: iPhone, Region: USA, Revenue: 40000
Product: iPhone, Region: USA, Revenue: 50000
Product: iPhone, Region: USA, Revenue: 34000
Product: iPhone, Region: India, Revenue: 10000
Product: iPhone, Region: India, Revenue: 20000
Product: iPhone, Region: India, Revenue: 30000
Product: iPhone, Region: India, Revenue: 40000
Product: iPhone, Region: India, Revenue: 50000
Product: iPhone, Region: India, Revenue: 34000
Product: iPhone, Region: UK, Revenue: 10000
Product: iPhone, Region: UK, Revenue: 20000
Product: iPhone, Region: UK, Revenue: 30000
Product: iPhone, Region: UK, Revenue: 40000
Product: iPhone, Region: UK, Revenue: 50000
Product: iPhone, Region: UK, Revenue: 34000
Product: iPad, Region: USA, Revenue: 10000
Product: iPad, Region: USA, Revenue: 20000
Product: iPad, Region: USA, Revenue: 30000
Product: iPad, Region: USA, Revenue: 40000
Product: iPad, Region: USA, Revenue: 50000
Product: iPad, Region: USA, Revenue: 34000
Product: iPad, Region: India, Revenue: 10000
Product: iPad, Region: India, Revenue: 20000
Product: iPad, Region: India, Revenue: 30000
Product: iPad, Region: India, Revenue: 40000
Product: iPad, Region: India, Revenue: 50000
Product: iPad, Region: India, Revenue: 34000
Product: iPad, Region: UK, Revenue: 10000
Product: iPad, Region: UK, Revenue: 20000
Product: iPad, Region: UK, Revenue: 30000
Product: iPad, Region: UK, Revenue: 40000
Product: iPad, Region: UK, Revenue: 50000
Product: iPad, Region: UK, Revenue: 34000
Product: Macbook, Region: USA, Revenue: 10000
Product: Macbook, Region: USA, Revenue: 20000
Product: Macbook, Region: USA, Revenue: 30000
Product: Macbook, Region: USA, Revenue: 40000
Product: Macbook, Region: USA, Revenue: 50000
Product: Macbook, Region: USA, Revenue: 34000
Product: Macbook, Region: India, Revenue: 10000
Product: Macbook, Region: India, Revenue: 20000
Product: Macbook, Region: India, Revenue: 30000
Product: Macbook, Region: India, Revenue: 40000
Product: Macbook, Region: India, Revenue: 50000
Product: Macbook, Region: India, Revenue: 34000
Product: Macbook, Region: UK, Revenue: 10000
Product: Macbook, Region: UK, Revenue: 20000
Product: Macbook, Region: UK, Revenue: 30000
Product: Macbook, Region: UK, Revenue: 40000
Product: Macbook, Region: UK, Revenue: 50000
Product: Macbook, Region: UK, Revenue: 34000

In [24]:
# else in for loop
for i in range(5):
  print(i)
else:
  print("For loop terminated")

0
1
2
3
4
For loop terminated

# Exercise

### Task 1

1. You are a Marvel fan and created a list of superheroes.

```py
avengers  = [â€˜Iron Manâ€™, â€˜Captain Americaâ€™, â€˜Black Widowâ€™, â€˜Hulkâ€™, â€˜Thorâ€™, â€˜Hawkeyeâ€™]
```

Using this list, calculate how many members in the Avengers team?

In [25]:
avengers  = ['Iron Man', 'Captain America', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']
len(avengers)

6

### Task 2

Awesome. Now Iron Man made Spider-Man a new member of the Avengers, add him to your list at the end

In [26]:
avengers.append('Spider-Man')
avengers

['Iron Man',
 'Captain America',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider-Man']

### Task 3

Looks like you are loving this avengers exercise alreadyðŸ˜„, Let's add a twist to it. Everyone came to a conclusion that Captain America is the leader of the Avengers, so please add him before the Iron Man. Hint: You can first remove him from the list and add before the Iron Man. To remove him you can use a method called .pop()

In [27]:
avengers.pop(1)
avengers.insert(0, "Captain America")
avengers

['Captain America',
 'Iron Man',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'Spider-Man']

### Task 4

Thor and Hulk are getting angry easily and fight with each other. So you have to separate them with each other. To separate them, move â€œBlack Widowâ€ in between them.

In [28]:
avengers.pop(2)
avengers.insert(3, "Black Widow")
avengers

['Captain America',
 'Iron Man',
 'Hulk',
 'Black Widow',
 'Thor',
 'Hawkeye',
 'Spider-Man']

### Task 5

Below list contains scores of students in a class as per their roll number. Which means the first element is for roll # 1, second one is for roll # 2 and so on. Print the scores of,

1. The first student
1. The last student
1. First 3 students
1. Scores of roll # 3, 4 and 5

In [29]:
scores = [92, 85, 76, 58, 89, 91, 73, 84]

# First student
print("First student's score:", scores[0])

# Last student
print("Last student's score:", scores[-1])

# First 3 students
print("First 3 students' scores:", scores[:3])

# Scores of roll #3, 4, and 5 (indices 2, 3, 4)
print("Scores of roll #3, #4, #5:", scores[2:5])

First student's score: 92
Last student's score: 84
First 3 students' scores: [92, 85, 76]
Scores of roll #3, #4, #5: [76, 58, 89]

### Task 6

We got a result of one more student which is 83 marks. Append this to the ```scores``` at the end and print the list

In [30]:
scores.append(83)
scores

[92, 85, 76, 58, 89, 91, 73, 84, 83]

### Task 7

Categorizes each score into a grade based on the following thresholds:

1. A: 90 to 100
1. B: 80 to 89
1. C: 70 to 79
1. D: 60 to 69
1. F: Below 60

Count the number of students in each grade category and print the summary of how many students received each grade.

Expected output

```
Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students
```

In [31]:
grade_counts = {'A': 0, 'B': 0, 'C': 0, 'D': 0, 'F': 0}

for score in scores:
    if 90 <= score <= 100:
        grade_counts['A'] += 1
    elif 80 <= score <= 89:
        grade_counts['B'] += 1
    elif 70 <= score <= 79:
        grade_counts['C'] += 1
    elif 60 <= score <= 69:
        grade_counts['D'] += 1
    else:
        grade_counts['F'] += 1



print("Grade Summary:")
for grade, count in grade_counts.items():
    print(f"- {grade}: {count} students")

Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students

### Task 8

Managing inventory efficiently is crucial for businesses to ensure they do not run out of key products. This exercise simulates a simple inventory management system where the user can see which items are below the minimum stock level and need reordering. Below you have two lists that stores product names and their inventory stock levels.Using that,

1. Check each item to see if its stock level is below a minimum threshold.
1. If the stock level is below the minimum, add the product's name to a reorder list.
1. Print a list of products that need to be reordered.

Expected Output
```
Items to Reorder:
- Pears
- Grapes
```

In [32]:
# Lists to store product names and stock levels
product_names = ["Apples", "Bananas", "Oranges", "Pears", "Grapes"]
stock_levels = [20, 50, 15, 5, 8]

minimum_stock = 10  # Minimum stock before reordering

# Creating a list to store items that need to be reordered
reorder_list = []

# Loop through each item and checking stock level
for i in range(len(product_names)):
    if stock_levels[i] < minimum_stock:
        reorder_list.append(product_names[i])

# Printing the result
print("Items to Reorder:")
for item in reorder_list:
    print(f"- {item}")

Items to Reorder:
- Pears
- Grapes