In [1]:
def find_total(expenses):
    total = 0
    for expense in expenses:
        total += expense
    return total

In [2]:
expenses_sergey = [30, 45, 70, 90]
expenses_sundar = [40, 23, 10, 85]

Sergey_total = find_total(expenses_sergey)
Sundar_total = find_total(expenses_sundar)

print(Sergey_total)
print(Sundar_total)

235
158

In [3]:
# in order to make number of input flexible
def sum_all(*args):
    total = 0
    for num in args:
        total += num
    return total

In [4]:
sum_all(1, 2, 3, 4, 5)

15

In [5]:
def company_info(**kwargs):
    if 'ticker' in kwargs:
      print("Ticker: ", kwargs['ticker'])
    if 'ceo' in kwargs:
      print("CEO: ", kwargs['ceo'])
    if 'revenue' in kwargs:
      print("Revenue: ", kwargs['revenue'])

company_info(ticker='AAPL', ceo='Tim Cook', revenue='200 billion')

Ticker:  AAPL
CEO:  Tim Cook
Revenue:  200 billion

In [6]:
def company_info(**kwargs):
  for key in kwargs:
    print(key, kwargs[key])

company_info(ticker='AAPL', ceo='Tim Cook', revenue='200 billion', pe=20, pb=10.2)

ticker AAPL
ceo Tim Cook
revenue 200 billion
pe 20
pb 10.2

In [7]:
# lambda
x = lambda a: a*a

print(x(5))

25

# Dictionary and Tuples

#### tuples are immutable
#### dictionary is mutable

In [8]:
# tuple
point = (5,6)
point[0]

5

In [9]:
type(point)

tuple

In [10]:
# tuple
contacts = [('rachel', 888877110), ('monica', 765511110), ('joey', 9999101111)]

# in order to find someone's number:
for contact in contacts:
  if contact[0] == 'rachel':
    print(contact[1])

888877110

In [11]:
# dictionary
contacts = {'rachel': 888877110, 'monica': 765511110, 'joey': 9999101111}
contacts['rachel']

888877110

In [12]:
# update value of dictionary
contacts['rachel'] = 1234567890
contacts

{'rachel': 1234567890, 'monica': 765511110, 'joey': 9999101111}

In [13]:
# add a value on dictionary
contacts['ross'] = 1234567890
contacts

{'rachel': 1234567890,
 'monica': 765511110,
 'joey': 9999101111,
 'ross': 1234567890}

In [14]:
# deleting a value of dictionary
del contacts['ross']
contacts

{'rachel': 1234567890, 'monica': 765511110, 'joey': 9999101111}

In [15]:
'rachel' in contacts

True

In [16]:
# nested dictionary
contact_dict = {
    'rachel' : {'phone': 888877110, 'email': 'james.francis.byrnes@example-pet-store.com'},
    'monica' : {'phone': 765511110, 'email': 'william.henry.harrison@example-pet-store.com'},
    'joey' : {'phone': 9999101111, 'email': 'james.buchanan@examplepetstore.com'}
}
contact_dict['rachel']['phone']

888877110

# Modules and Pip

In [17]:
import calendar
print(calendar.month(2025, 3))

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [18]:
calendar.isleap(2025)

False

In [19]:
import numpy as np
q1 = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

q2 = np.array([
    [10,11,12],
    [13,14,15],
    [16,17,18]
])

q1 + q2

array([[11, 13, 15],
       [17, 19, 21],
       [23, 25, 27]])

# File handling

#### The key function for working with files in Python is the *open()* function. The *open()* function takes two parameters; **filename**, and **mode**.

Here are four different methods (modes) for opening a file:
  

1.   "p" - Read - Default value. Opens a file for reading, error if the file does not exist.
2.   "a" - Append - Opens a file for appending, creates the file if it does not exist.
3.  "w" - Write - Opens a file for writing, creates the file if it does not exist.
4.  "X" - Create - Creates the specified file, returns an error if the file exist.

It is good practice to use the with keyword when dealing with file objects. The advantage is that the file is properly closed after its suite finishes, even if an exception is raised at some point.

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
f = open("/content/funny.txt", "r")

for line in f:
  print(line)

f.close()

Teacher: Why are you late, raghu?

Raghu: Because of the sign

Teacher: What sign?

Raghu: The one that says "School Ahead, Go slow"

In [23]:
with open("/content/funny.txt", "r") as f:
  for line in f:
    print(line)

# here no need to close

Teacher: Why are you late, raghu?

Raghu: Because of the sign

Teacher: What sign?

Raghu: The one that says "School Ahead, Go slow"

In [24]:
# in order to create a file
with open('/love.txt', 'w') as f:
  f.write('I love Python\n')
  f.write('I love Meditation')

In [25]:
# append (means adding extra lines)
with open('/love.txt', 'a') as f:
  f.write('\nI love Go-lang')
  f.write('\nI love Java')

In [26]:
with open('love.txt', 'w') as f:
  f.writelines([
      "I love Python\n",
      "I love Meditation\n"
  ])

In [27]:
with open('/content/scores.csv', 'r') as f:
  for line in f:
    print(line)

rohit,match#1,9

shakib,match#2,56

babar,match#3,56

rohit,match#4,120

rohit,match#5,105

shakib,match#6,78

rohit,match#7,140

babar,match#8,45

rohit,match#9,130

shakib,match#10,102

babar,match#11,120

babar,match#12,5

shakib,match#13,72

babar,match#14,67

In [28]:
with open('/content/scores.csv', 'r') as f:
  for line in f:
    player, _, score = line.split(',') # '_' used to ignore that value
    print(player, score)

rohit 9

shakib 56

babar 56

rohit 120

rohit 105

shakib 78

rohit 140

babar 45

rohit 130

shakib 102

babar 120

babar 5

shakib 72

babar 67

In [29]:
player_scores = {}

with open('/content/scores.csv', 'r') as f:
  for line in f:
    player, _, score = line.split(',') # '_' used to ignore that value
    score = int(score.strip())
    if player in player_scores:
      player_scores[player].append(score)
    else:
      player_scores[player] = [score]

player_scores

{'rohit': [9, 120, 105, 140, 130],
 'shakib': [56, 78, 102, 72],
 'babar': [56, 45, 120, 5, 67]}

In [30]:
for player, scores in player_scores.items():
  min_score = min(scores)
  max_score = max(scores)
  avg_score = sum(scores) / len(scores)
  print(f'{player} ==> Min: {min_score}, Max: {max_score}, Avg: {avg_score}')

rohit ==> Min: 9, Max: 140, Avg: 100.8
shakib ==> Min: 56, Max: 102, Avg: 77.0
babar ==> Min: 5, Max: 120, Avg: 58.6

In [31]:
# delete file
with open("dummy.txt", 'w') as f:
  f.write("I am a dummy file")

import os
if os.path.exists('dummy.txt'):
  os.remove('dummy.txt')
else:
  print('The file does not exist')

# Exercise

### Task 1

You are given a file called ```customers.txt``` that contains the name of the customer and total amount they spent. Read this file line by line and save the customer name and total amount in a dictionary.

For example, customers.txt file will content the data in the following format,
```
Srinivas,120
John,250
Maria,150
Smith,510
Anjali,45
```

You will read this and build a dictionary like this,
```
{
    "Srinivas": 120,
    "John": 250,
    "Maria": 150,
    "Smith": 510,
    "Anjali": 45
}
```

In [32]:
customers_dict = {}

with open("/content/customers.txt", "r") as f:
    for line in f:
        customer_name, total_amount = line.strip().split(",")
        total_amount = int(total_amount)
        customers_dict[customer_name] = total_amount
customers_dict

{'Srinivas': 120,
 'John': 250,
 'Maria': 150,
 'Smith': 510,
 'Anjali': 45,
 'Navin': 100,
 'Santosh': 99}

### Task 2

The rewards levels are defined below based on the total purchase amount. Using this define a function called calculate_rewards that takes total as input and returns the reward.

```
1. Bronze: Total purchases $100-$199
1. Silver: Total purchases $200-$499
1. Gold: Total purchases $500+
```

In [33]:
def calculate_rewards(total):
    if total >= 500:
        return 'Gold'
    elif total >= 200:
        return 'Silver'
    elif total >= 100:
        return 'Bronze'
    else:
        return 'None'

calculate_rewards(530)

'Gold'


### Task 3
Now for each of the customers in our customers_dict, calculate the rewards and build a customers_summary dictionary that looks like the following, (key is the name of the customer and the value is a tuple containing total amount and rewards level)```{    'Srinivas': (120, 'Bronze'),    'John': (250, 'Silver'),    'Maria': (150,'Bronze'),    'Smith': (510, 'Gold'),    'Anjali': (45, 'None')}```

In [34]:
customer_summary = {}
for name, total in customers_dict.items():
    rewards_level = calculate_rewards(total)
    customer_summary[name] = (total, rewards_level)

customer_summary

{'Srinivas': (120, 'Bronze'),
 'John': (250, 'Silver'),
 'Maria': (150, 'Bronze'),
 'Smith': (510, 'Gold'),
 'Anjali': (45, 'None'),
 'Navin': (100, 'Bronze'),
 'Santosh': (99, 'None')}

### Task 4

Now stitch all of the above code together and create a function that takes file name as input and returns the customer_summary dictionary.

```
def process_customer_data(file_name):
    # return customer_summary dict
```

In [35]:
# Function to process customer data from file
def process_customer_data(filename):
    rewards_data = {}
    with open(filename, "r") as f:
        for line in f:
            customer_name, total_amount = line.strip().split(",")
            total_amount = int(total_amount)
            customers_dict[customer_name] = total_amount

    # Categorizing customers and prepare the summary
    customer_summary = {}
    for name, total in customers_dict.items():
        rewards_level = calculate_rewards(total)
        customer_summary[name] = (total, rewards_level)

    return customer_summary

process_customer_data("customers.txt")

{'Srinivas': (120, 'Bronze'),
 'John': (250, 'Silver'),
 'Maria': (150, 'Bronze'),
 'Smith': (510, 'Gold'),
 'Anjali': (45, 'None'),
 'Navin': (100, 'Bronze'),
 'Santosh': (99, 'None')}