# Set & Frozenset

#### Sets are mutable collections that only store unique elements and support efficient membership checks, additions, and deletions.

In [1]:
# set removes duplicate elements
myset = set([1,2,2,3,3,3,4,4])
myset

{1, 2, 3, 4}

In [2]:
# another way to create a set
myset = {1,1,2,3,3,3,4,4}
myset

{1, 2, 3, 4}

#### Both sets and frozensets support mathematical set operations like union, intersection, difference, and symmetric difference.

In [3]:
# in order to add element
myset.add(7)
myset

{1, 2, 3, 4, 7}

In [4]:
# in order to remove element
myset.remove(1)
myset

{2, 3, 4, 7}

In [5]:
# frozenset do not allow to add or remove anything from it
a = frozenset([1,2,3,4])
a

frozenset({1, 2, 3, 4})

In [6]:
# checking, if something belongs to the set
4 in a

True

In [7]:
transactions = [
    {'customer_name': 'Mira', 'amount': 56, 'date':'2024-08-01'},
    {'customer_name': 'Mira', 'amount': 12.3, 'date':'2024-09-05'},
    {'customer_name': 'Mohan', 'amount': 21, 'date': '2024-09-03'},
    {'customer_name': 'Mohan', 'amount': 36.8, 'date':'2024-09-10'},
    {'customer_name': 'Lucy', 'amount': 66.3, 'date': '2024-09-10'},
]

In [8]:
customers = set()

for trans in transactions:
    customers.add(trans['customer_name'])

customers

{'Lucy', 'Mira', 'Mohan'}

#### Set comprehensions work similarly to list comprehensions but produce a set, automatically removing duplicate elements during creation.

In [9]:
# alternative
customers = {trans['customer_name'] for trans in transactions}
customers

{'Lucy', 'Mira', 'Mohan'}

In [10]:
# converting set to list
customers_list = list(customers)
customers_list

['Mira', 'Mohan', 'Lucy']

#### Both sets and frozensets support mathematical set operations like union, intersection, difference, and symmetric difference.

In [11]:
# exploring common name
a = {'Mira', 'Mohan', 'Lucy', 'Ahmed'}
b = {'Chen', 'Mohan', 'Radha', 'Maria'}

# 'and' operator will give common name
a & b

{'Mohan'}

In [12]:
# 'or' operator will give all name without repeat
a | b

{'Ahmed', 'Chen', 'Lucy', 'Maria', 'Mira', 'Mohan', 'Radha'}

In [13]:
# instead of '&', I can use:
a.intersection(b)

{'Mohan'}

In [14]:
# instead of '|', I can use:
a.union(b)

{'Ahmed', 'Chen', 'Lucy', 'Maria', 'Mira', 'Mohan', 'Radha'}

In [15]:
# belongs in a only, but not in b
a - b

{'Ahmed', 'Lucy', 'Mira'}

# Lists, Dict and Set Comprehensions

#### List comprehensions provide a concise way to create lists by running a for loop in a single-line.

#### Comprehensions are generally more readable and faster than using loops for building collections, making them a preferred choice for such tasks in Python.

#### All comprehensions can include conditionals to filter elements, providing a powerful tool for creating customized collections efficiently.

In [16]:
# all numbers from a list will be squared and will be saved in a list
numbers=[1,2,3,4,5]
sqr_numbers = []

for n in numbers:
  sqr_numbers.append(n*n)

print(sqr_numbers)

[1, 4, 9, 16, 25]

In [17]:
# list comprehentions is short way
sqr_numbers = [n*n for n in numbers]
sqr_numbers

[1, 4, 9, 16, 25]

In [18]:
# another example
price = [100,120,80,50]
earning_per_share = [9,15,40,2]

pe = [p/e for p,e in zip(price,earning_per_share)]
pe

[11.11111111111111, 8.0, 2.0, 25.0]

In [19]:
# if a value of 'e' is 0, then it will show an error. Therefore if condition can be used.
price = [100,120,80,50]
earning_per_share = [0,15,40,2]

pe = [p/e if e > 0 else 0 for p,e in zip(price,earning_per_share)]
pe

[0, 8.0, 2.0, 25.0]

In [20]:
# getting length of each word in the array
words = ['apple', 'banana', 'cherry', 'date']

lengths = [len(word) for word in words]
lengths

[5, 6, 6, 4]

In [21]:
# if the price>100, then 10% discount
price = [100,120,80,50]

discounted_price = [p*0.9 if p>100 else p for p in price]
discounted_price

[100, 108.0, 80, 50]

#### Dictionary comprehensions allow for the dynamic construction of dictionaries by running a for loop in a single-line.

In [22]:
# creating a dictionary from list
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

name_age_dict = {names[i]:ages[i] for i in range(len(names))}
name_age_dict

{'Alice': 25, 'Bob': 30, 'Charlie': 35}